.hamburger {
  display: none;
  width: 30px;
  cursor: pointer;
  @media (max-width: 980px) {
    display: block;
  }
  span {
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 4px;
    background-color: black;
    border-radius: 2px;
  }
}
